
.footer {
  background: linear-gradient(90deg, #03092d, #172fb3, #49a4ea, #160455);
  color: white;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed; /* Fixed positioning to keep it at the bottom */
  bottom: 0;
  width: 100%;
  text-align: center;
  z-index: 1000; /* Ensure it is above other content */
}

.footer ul {
  list-style: none;
  display: flex;
  gap: 1rem;
  padding: 0;
  margin: 0;
}

.footer ul li a {
  color: white;
  text-decoration: none;
}

.footer p {
  margin: 0; /* Remove default margin from <p> */
}
